- if page.current?
  %span.page.current
    = content_tag :a, page,
      remote: remote, rel: rel_label(page.next?, page.prev?), class: 'page-link'
- else
  %span.page
    = link_to page, url,
      remote: remote, rel: rel_label(page.next?, page.prev?), class: 'page-link'
