### For production and development
GOOGLE_API_KEY="secret api key"

### Only for development
# If you don't wan't sending local bugs to Rollbar but you intersted to manage deploy information on Rollbar set this bellow
# Add this line to .bashrc file on the top. Importend, on the top!
# export ROLLBAR_DEPLOY_ACCESS_TOKEN = 'ROLLBAR_ACCESS_TOKEN'
# source ~/.bashrc

# if you want register local bugs on Rollbar set
ROLLBAR_ACCESS_TOKEN='https://rollbar.com/'

### Only for production
MOTOHELPER_DATABASE_PASSWORD="Set database password"
SECRET_KEY_BASE="rake secret"
DEVISE_SECRET_KEY="rake secret"
DEVISE_EMAIL="reply_to"
HOST="domain.pl"

SMTP_ADDRESS='smtp.mailprovider.net'
SMTP_PORT='587 OR 25'
SMTP_USER_NAME='login'
SMTP_PASSWORD='password'

ROLLBAR_ACCESS_TOKEN='https://rollbar.com/'
