%h4= pages.dashboard.closest_service_text

%table.table.table-sm
  %thead
    %tr
      %th{scope: 'col'}= Mileage.human_attribute_name('date')
  %tbody
    %tr
      %td #{ data[:closest_service] }
