%h4= Maintenance.human_attribute_name('closest_service')

%table.table.table-sm
  %thead
    %tr
      %th{scope: 'col'}= Mileage.human_attribute_name('date')
  %tbody
    %tr
      %td #{ data[:closest_service] }
