.text-center
  %button.btn.btn-primary{onclick: "Dashboard.setLocation()"} Update location
#position_info

%table.table.table-hover
  %tbody
    - data[:closest_service].first(3).each do |service|
      %tr
        %td #{service['name']}
        %td #{service['vicinity']}
        %td
          %button.btn.btn-light{:type => "button"} #{I18n.t('see')}
