%h4 #{ t('.last_added') } (#{ link_to t('.all'), maintenances_path })

%table.table.table-sm
  %thead
    %tr
      %th{scope: 'col'} First
      %th{scope: 'col'} Car
  %tbody
    - data[:maintenances].each do |maintenance|
      %tr
        %td= link_to maintenance.name, maintenance
        %td= maintenance.car.decorate.name