.autopagerize_page_element
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} Car
        %th{:scope => "col"} Mileage
        %th{:scope => "col"} Date
    %tbody
      - @mileages.each do |mileage|
        %tr
          %td #{ mileage.car.decorate.name }
          %td #{ link_to mileage.meter_status, mileage }
          %td #{ mileage.date }

= paginate @mileages
