.jumbotron
  %h1.display-4= t('.hello')
  %p.lead= t('.create_service_book')
  %p= t('.log_in_now')
  %p.lead
    %a.btn.btn-primary.btn-lg{ href: new_user_session_path, role: "button" }
      = t('.log_in')
Dlaczego warto dbac o swoj samochod?
