%h1
  Welcome to motohelper.biegokracja.pl, #{@user.name}
%p
  Reminder: #{@reminder.name}
  %br/
%p
  To login to the site, just follow this link: #{ reminder_url(@reminder) }.
%p Thanks for joining and have a great day!
