%h1
  Welcome to motohelper.biegokracja.pl, #{@user.name}
%p
  Reminder: #{@reminder.name}
  %br/
%p
  Reminder TYPE: #{@type}
  %br/    
%p
  To see your reminder, just follow this link: #{ reminder_url(@reminder) }.
%p Thanks for joining and have a great day!
