Welcome to example.com, <%= @user.name %>
===============================================
 
Reminder: <%= @reminder.name %>.
 
To login to the site, just follow this link: <%= reminder_url(reminder) %>.
 
Thanks for joining and have a great day!