%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.rounded
  %a.navbar-brand{:href => "#"} MOTOHELPER
  %ul.navbar-nav.mr-auto
    %li.nav-item.active
      %a.nav-link Left Link 1
    %li.nav-item
      %a.nav-link Left Link 2
  %ul.navbar-nav.ml-auto
    %li.nav-item
      %a.nav-link Right Link 1
    %li.navbar-item
      %a.nav-link Right Link 2