%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "#"} MOTOHELPER
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"} Home
      %li.nav-item
        %a.nav-link{:href => "#"} About
      %li.nav-item
        %a.nav-link{:href => "#"} FAQs
    %ul.navbar-nav.my-2.my-lg-0
      - if user_signed_in?
        %li.nav-item
          = link_to('Edit registration', edit_user_registration_path, class: 'nav-link')
        %li.nav-item
          = link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link')
      - else
        %li.nav-item
          = link_to('Login', new_user_session_path, class: 'nav-link')
        %li.nav-item
          = link_to('Register', new_user_registration_path, class: 'nav-link')
